.box{
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid rgb(185, 185, 185) ;
    border-radius: 7px;
    padding: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
  }   

  .sideBySide{ 
    border: 1px solid black;
    margin: 0rem;
    width: 100%; 
    height: auto; 
    background-color: #ffffff; 
    border: 1px solid rgb(185, 185, 185) ;
    border-radius: 7px; 
    margin-top: 15px;
  }

  .halfBox{   
    display: inline-block;
    padding: 10px;
    vertical-align: middle; 
    width: 50%; 
    height: 100%; 
  }   

  .thirdBox{   
    display: inline-block;
    padding: 10px;
    vertical-align: middle; 
    width: 33%; 
    height: 100%; 
    text-align: center; 
  }  
  
  .thirdBoxSettingIndex{   
    display: inline-block;
    padding: 10px;
    vertical-align: middle; 
    width: 33%; 
    height: 100%; 
    margin-left: 17%; 
    text-align: center; 
  } 

  .twoThirdBox{   
    display: inline-block;
    padding: 10px;
    vertical-align: middle; 
    width: 66%; 
    height: 100%; 
  } 

  .title{ 
    display: inline-block; 
    padding: auto; 
    text-align: center; 
    width: 100%;
  } 

  .buttonCenter{ 
    width: 50%; 
    align-items: center; 
    text-align: center; 
    background-color: rgb(19,87,190); 
    border: 2px solid black;
    border-radius: 20px; 
    color: white;
    margin-left: 25%; 
    margin-right: 25%;
  }  
  .buttonCenter:hover{ 
    background-color: #1a83ff;
  } 
  

  .projectGrid{  
    border: 1px solid black;
    margin: 0rem;
    width: 100%; 
    height: auto; 
    background-color: #ffffff; 
    border: 1px solid rgb(185, 185, 185); 
    border-radius: 10px;  
    padding-left: 10px; 
    padding-right: 0px;  
  } 

  .thirdGrid{    
    display: inline-block;
    vertical-align: middle; 
    width: 33.3333%;  
    text-align: left; 
    padding-bottom: 12px; 
  } 

  .ripple-container {
    position: relative;
    overflow: hidden;
  }
  
  .ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
    animation: ripple-animation 0.6s linear;
    opacity: 0.5; /* Set the initial opacity of the ripple */
  }
  
  @keyframes ripple-animation {
    to {
      transform: scale(4);
      opacity: 0;
    }
  } 
  .gridPic{  
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gridPic:hover {
    opacity: 0.7; /* Set the opacity of the image on hover */ 
  }
  
  
  
  
  
  



